/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
@import url(/css/fonts/iconmoon/style.csss);
/*--------------------*/
body {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 400;
  color: #ebe7e5;
}

/*Header*/

.header-page {
  width: 100%;
  background: url(/images/Slice-1.jpg) no-repeat center top;
}

.header-menu {
  display: flex;
  max-width: 1142px;
  min-height: 38px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 44px 15px;
}

.menu__log {
  font-size: 14px;
  line-height: calc(17 / 14 * 100%);
  text-transform: uppercase;
  color: #fff;
}

.menu__log:hover {
  color: #17e5ce;
}

.menu__reg {
  font-size: 14px;
  line-height: calc(17 / 14 * 100%);
  text-transform: uppercase;
  color: #4fffca;
}

.menu__reg:hover {
  color: #fff;
}
.container {
  max-width: 1582px;
  margin: 0 auto;
}

/*header-content*/

.start-container {
  width: 1290px;
  margin: 0 auto;
}

.start-buy {
  display: flex;
  align-items: center;
  margin-left: 225px;
  padding: 230px 0 166px;
}
.percent {
  font-size: 250px;
  font-weight: 700;
  margin-right: 25px;
  background: -webkit-linear-gradient(321.21deg, #17e5ce 6.42%, #4fffca 67.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.start__info {
  max-width: 395px;
}
.title {
  text-transform: uppercase;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 25px;
}

.button {
  display: flex;
  background-color: #4fffca;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.start__button {
  padding: 14px 40px;
  max-width: 180px;
  min-height: 45px;
  border-radius: 10px;
}
.button__buy {
  color: #000;
}

/*Trading-page*/
.tp-col {
  display: flex;
  justify-content: end;
}

.trading-page {
  width: 100%;
  background: url(/images/Group282.png) no-repeat center top;
  padding: 163px 0;
}

.trading__title {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  line-height: calc(30 / 26 * 100%);
}
.trading-block {
  width: 864px;
  margin-right: 75px;
}

.trading-info {
  padding: 20px 10px;
  margin-bottom: 50px;
}

.trading-btn {
  background-color: #4fffca;
  padding: 17px 28px;
  border-radius: 10px;
  max-width: 340px;
  margin: 0 auto;
}

.trading__button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin: 0 auto;
}

/*Products-page*/

.products-page {
  padding: 125px 0;
  width: 100%;
  background: url(/images/products-bg.jpg) no-repeat center top;
}
.products-container {
  max-width: 1575px;
  width: 100%;
  margin: 0 auto;
}
.products-title {
  text-align: center;
  font-size: 180px;
  font-weight: 700;
  color: #141e1e;
  margin-bottom: 80px;
}
.products-items {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 345px;
  width: 100%;
  height: 310px;
}

.item ul li {
  list-style: disc;
  font-size: 18px;
  font-weight: 400;
}

.item__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 20px 0;
}
.item__text {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

/*Using*/

.using-container {
  max-width: 1575px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.using {
  min-height: 443px;
  width: 100%;
  margin: 125px 0;
  text-align: center;
  background: rgba(56, 92, 95, 0.3);
  box-shadow: inset 1px 1px 4px #4fffca;
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.using::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(79, 255, 202, 0.5);
  display: block;
  position: relative;
  top: 82px;
  left: 0;
}

.using__logo {
  width: 260px;
  height: 52px;
  margin: 70px 0 40px 0;
}

.using__subtitle {
  max-width: 743px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
}

.using__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.using__info {
  padding: 55px 25px;
  font-size: 18px;
  font-weight: 400;
  width: 260px;
  min-height: 165px;
}

.ver-line {
  height: 123px;
  width: 2px;
  background: rgba(235, 231, 229, 0.5);
  position: relative;
  top: 0;
  left: 0;
}

/*Begin*/

.begin {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.begin__title {
  color: #fff;
  text-align: center;
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 30px;
}
.begin__text {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

strong {
  color: #fff;
}
.begin__subtitle {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.begin-btn {
  margin: 0 auto;
  padding: 14px 19px;
  border-radius: 10px;
  width: 233px;
  height: 44px;
}

.btn__reg {
  color: #000;
}

/*Deposit Fee*/

.deposit {
  background: url(/images/Item.jpg);
  background-repeat: no-repeat;
  width: 100%;
  padding: 11px 0;
}
.container {
}
.buy-bitcoin {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 80px;
}
.commission {
  font-size: 180px;
  font-weight: 700;
  background: -webkit-linear-gradient(96deg, #4fffca 11.58%, #17e5d0 45.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bitcoin__title {
  max-width: 345px;
  font-size: 67px;
  font-weight: 700;
  color: #ebe7e5;
}
.bitcoin__btn {
  padding: 14px 40px;
  border-radius: 10px;
}
.btn__buy {
  color: #000;
}

.button {
  transition: all 0.2s ease;
}

.button:hover {
  background-color: rgb(237, 190, 60);
}

/*Partners*/
.partners-page {
  background: #0e1314;
  overflow: hidden;
  padding: 60px 0;
}
.container {
}
.partners__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 180px;
  font-weight: 700;
  color: #141c1e;
}
.partners-slider {
  margin-top: 40px;
  padding: 30px 0;
  overflow: hidden;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Slick*/

.slick-track {
  display: flex;
  width: 100%;
}

.slick-mask {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -160px;
  left: 0;
}

/*Advantages*/

.advantages-page {
  background: url(/images/ОБЩАЯ.jpg);
  padding: 65px 0;
}

.advantages {
  max-width: 495px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 290px;
}

.advantages__title {
  font-size: 57px;
  font-weight: 400;
  color: #4fffca;
  margin-bottom: 26px;
}
.advantages__title strong {
  color: #4fffca;
}

.advantages__list {
  margin: 0 0 40px 40px;
}

.advantages__list li {
  list-style: disc;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.advantages__list li:last-child {
  margin-bottom: 0;
}

.advantages__list li:nth-child(2) {
  font-weight: 700;
}

.advantages__list li:nth-child(5) {
  font-weight: 700;
}

.advantages__btn {
  padding: 18px 130px;
  border-radius: 10px;
}

.btn__trading {
  color: #000;
}

/*App Store*/

.appstore {
  background: url(/images/bg-phone.jpg);
}
.container-appstore {
  max-width: 1555px;
  margin: 0 auto;
  padding: 0 100px;
}
.appstore-block {
  padding: 125px 0;
  display: flex;
  justify-content: space-between;
}
.appstore__phone {
  margin-left: 115px;
}
.appstore-content {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 560px;
}
.appstore__title {
  text-align: end;
  font-size: 48px;
  font-weight: 700;
  line-height: calc(55 / 48 * 100%);
  text-transform: uppercase;
  margin: 0 0 30px 0;
}
.appstore__text {
  padding-left: 65px;
  text-align: end;
  font-size: 20px;
  font-weight: 400;
}

.appstore__text-two {
  padding-left: 90px;
  margin: 30px 0;
}

.appstore__btn {
  display: flex;
  padding: 5px 40px 5px 20px;
  width: 230px;
  border: 2px solid #ebe7e5;
  min-height: 60px;
}
.button__download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;

  color: #fff;
}

.button__download strong {
  font-size: 24px;
  font-weight: 400;
}

.icon-apple {
  margin-right: 15px;
}

/*Bitcoin-link*/

.bitcoin-link {
  background: url(/images/galaxy.jpg);
  width: 100%;
  padding: 110px 0;
}
.container-bl {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
.bl-block {
  max-width: 863px;
  margin-left: 120px;
}
.bl__title {
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 30px;
}
.bl__text {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 40px;
}
.bl__btn {
  padding: 14px 19px;
  border-radius: 10px;
  max-width: 233px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__link {
  text-align: center;
  color: #000;
  max-width: 195px;
  min-height: 17px;
}

/*FAQ*/

.faq {
  background: #0e1314;
  padding: 100px 0;
}

.container-accordion {
  width: 100%;
  max-width: 1555px;
  margin: 0 auto;
  padding: 0 15px;
}

.faq-title {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 30px;
}

.accordion {
}
.accordion-item {
}
.accordion-link {
  color: #4fffca;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebe7e5;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 850ms;
}

.discription {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

.answer {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}

.accordion-item:target .accordion-content {
  max-height: 20rem;
}

.accordion-item:target .accordion-link {
  border: 0;
}

.arrow {
  transform: rotate(180deg);
  font-size: 30px;
  transition: transform 650ms;
}

.accordion-item:target .arrow {
  transform: rotate(0deg);
}

/*Footer*/

footer {
  background: #0d1214;
}
.footer-container {
  max-width: 1530px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
.footer-top {
}
.footer-logo {
  margin-bottom: 30px;
}
.ft-subtitle {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
}
.ft-company {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 42px;
}
.footer-bottom {
}
.fb-social {
  margin-bottom: 17px;
}

.fb-icon {
  width: 35px;
}

.fb-title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 17px;
}
.fb-info-text {
  font-size: 14px;
  font-weight: 400;
}
